body {
  background-color: #fff;
  height: 100vh;
}

a {
  color: #999;
  font-size: 13px;
}

.layout-container > header {

  border-bottom: 1px solid #fff;

}

.navigation {

  li {

    .nav-dir-path {
      color: #333;
      font-size: 14px;
      font-weight: 800;
      text-transform: capitalize;
    }

    &.hide-path {

      .nav-dir-path {
        display: none;
      }

    }

  }

}
